{% load static %}

<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'chat/w3.css' %}">
<link rel="stylesheet" href="{% static 'chat/font.css' %}">

<script src="{% static 'chat/jquery.js' %}"></script>

<style>
    body,h1 {font-family: "Montserrat", sans-serif}
    img {margin-bottom: -7px}
    .w3-row-padding img {margin-bottom: 12px}
</style>
<body>

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<div class="w3-opacity">
<!-- <span class="w3-button w3-xxlarge w3-white w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></span>  -->
<div class="w3-clear"></div>
<header class="w3-center w3-margin-bottom" style="margin-top: 10%;">
  <p id="loading_gif" style="display: none"><img width="50%" height="50%" src="{% static 'chat/tenor.gif' %}"></p>
  <div id="the_menu"> 
      <h1 style="line-height: 0px;margin-top:75px"><b>PILLOW</b></h1>
      <h1 style="margin-top:-5px;margin-bottom:29px;"><b>TALK</b></h1>
      <!-- <br/> -->
      <h2 style="line-height: 0px;font-weight: 552;">AWARD</h2>
      <h2 style="margin-top:-5px;font-weight: 552;">WINNING</h2>
      <p><b>Choose the state</b></p>
      <select name="dropdown" style="border-radius:4px;border:1px solid #AAAAAA;width:150px;">
          <option value="phone_0">None</option>
          <option value="win">Win</option>
          <!-- <option value="phone_2">phone_2</option>
          <option value="phone_3">phone_3</option> -->
      </select>
  </div>
  <!-- <p class="w3-padding-16"><button class="w3-button w3-black" onclick="myFunction()">Toggle Grid Padding</button></p> -->
</header>

</div>

</div>



<script>

    // function getval(sel)
    // {
    //    console.log(sel.value);
    // }

    // $('<option>').data('onselect', function() {
    //     alert('I’m selected');
    // });

    // $(document).on('change', 'select', function(e) {
    //     console.log("sadfasdf");
    // var selected = $(this).find('option:selected'),
    //     handler = selected.data('onselect');
    //     if ( typeof handler == 'function' ) {
    //         handler.call(selected, e);
    //     }
    // });

    $( document ).ready(function() {
        if("{{the_record.phone_id}}" == "None") {
            $('select[name="dropdown"]').val("phone_0");
        }
        else {
            $('select[name="dropdown"]').val("{{the_record.phone_id}}");   
        }

        if("{{the_record.cele_status}}" == "False") {
            $("#loading_gif").hide();
            $("#the_menu").show();
        }
        else {
            $("#the_menu").hide();
            $("#loading_gif").show();   
        }
        // if()
    });

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/promoter/control/test/');

    chatSocket.onmessage = function(e) {
        // $("#loading_gif").hide();
        // $("#the_menu").show();        
        var data = JSON.parse(e.data);
        var message = data['message'];
        if(message == "cele_start") {
            $("#the_menu").hide();
            $("#loading_gif").show();
        }
        else if(message == "cele_stop"){
            $('select[name="dropdown"]').val("phone_0");
            $("#loading_gif").hide();
            $("#the_menu").show();
        }
        else {
            $("#loading_gif").hide();
            $("#the_menu").show();   
        }
        console.log(message);
        // document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    $('select[name="dropdown"]').change(function() {
        console.log($(this).val());
        if($(this).val()) {
            $("#the_menu").hide();
            $("#loading_gif").show();
            chatSocket.send(JSON.stringify({
                'message': $(this).val()
            }));    
        }
                
    });

    

    // document.querySelector('#room-name-input').focus();
    // document.querySelector('#room-name-input').onkeyup = function(e) {
    //     if (e.keyCode === 13) {  // enter, return
    //         document.querySelector('#room-name-submit').click();
    //     }
    // };

    // document.querySelector('#room-name-submit').onclick = function(e) {
    //     var roomName = document.querySelector('#room-name-input').value;
    //     window.location.pathname = '/promoter/telephone/' + roomName + '/';
    // };
</script>
</body>
</html>